<header id="header" class="fixed-top header-transparent" style="background-color:lightskyblue;">
  <div class="container d-flex align-items-center">
    <div class="logo mr-auto">
    </div>
    <nav class="nav-menu d-none d-lg-block">
      <ul>
        <li class="active"><a routerLink="/admin/memoires"> <i class="pi pi-home" style="padding-right: 5px;">
            </i>Accueil</a></li>
        <li routerLinkActive><a routerLink="/admin/memoires"> <i class="pi pi-file-pdf"
              style="padding-right: 5px;"></i>MEMOIRES</a></li>
        <li><a routerLink="/admin/departements">Departements</a></li>
        <li><a routerLink="/admin/encadreurs"> <i class="pi pi-users" style="padding-right: 5px;"> </i>Encadreurs</a>
        </li>
        <li><a routerLink="/admin/filieres">Filieres</a></li>
        <li><a routerLink="/admin/etudiants"> <i class="pi pi-user" style="padding-right: 5px;"> </i>Etudiants</a></li>
        <li><a routerLink="/admin/diplomes">Diplomes</a></li>
        <!-- <li class="drop-down"><a href="">Drop Down</a>
          <ul>
            <li><a href="#">Drop Down 1</a></li>
            <li class="drop-down"><a href="#">Drop Down 2</a>
              <ul>
                <li><a href="#">Deep Drop Down 1</a></li>
                <li><a href="#">Deep Drop Down 2</a></li>
                <li><a href="#">Deep Drop Down 3</a></li>
                <li><a href="#">Deep Drop Down 4</a></li>
                <li><a href="#">Deep Drop Down 5</a></li>
              </ul>
            </li>
            <li><a href="#">Drop Down 3</a></li>
            <li><a href="#">Drop Down 4</a></li>
            <li><a href="#">Drop Down 5</a></li>
          </ul>
        </li> -->
        <!-- <li><a href="#contact">Contact Us</a></li> -->

      </ul>
    </nav>
  </div>
</header>
<br>
<br>
<br>
<br>
<br>