<p-toast position="top-right" key="state"></p-toast>
<app-acceuil></app-acceuil>

<!-- <div class="container">

    <form>
  
      <div class="form-group row">
        <div class="col-md-1">
          <label for="nom">TITRE </label>
        </div>
        <div class="col-md-6">
          <input type="text" class="form-control" id="nom" placeholder="entrez le titre">
        </div>
      </div>
  
      <div class="form-group row">
        <div class="col-md-1">
        <label for="diplome">diplome</label>
      </div>
      <div class="col-md-6">
        <input type="text" class="form-control" id="diplome" placeholder="entrez le diplome">
      </div>
      </div>
      <div class="form-group row">
        <div class="col-md-1">
        <label for="session">sesion</label>
      </div>
      <div class="col-md-6">
        <input type="date" class="form-control" id="date" placeholder="entrez la session">
      </div>
      </div>
      <div class="form-group row">
        <div class="col-md-1">
        <label for="date">dateInsertion</label>
      </div>
      <div class="col-md-6">
        <input type="date" class="form-control" id="date" placeholder="entrez la date d'aujourd'hui ">
      </div>
      </div>
      <div class="form-group row">
        <div class="col-md-1">
        <label for="contenu">contenu</label>
      </div>
      <div class="col-md-6">
        <input type="text-area" class="form-control" id="contenu" placeholder="entrez le contenu du memoire">
      </div>
      </div>
      <div class="form-group row">
        <div class="col-md-1">
        <label for="ABSTRACT">abstract</label>
      </div>
      <div class="col-md-6">
        <input type="text" class="form-control" id="abstract" placeholder="entrez l'abstract">
      </div>
      </div>
      <div class="form-group row">
        <div class="col-md-4">
        <label for="exampleFormControlFile1">choisir le memoire a inserrer</label>
      </div>
      <div class="col-md-6">
        <input type="file" class="form-control-file" id="exampleFormControlFile1">
      </div>
      </div>
      <button type="submit" class="btn btn-primary" style="margin-left: 300px;"> Ajouter</button>
    </form>
  </div> -->

<section id="hero" style="height:auto; margin-top: -30px;">
  <div class="row">
    <div class="col-md-2" style="margin-left: 0.5em;">
      <button type="button" pButton label="AJOUTER MEMOIRE" data-toggle="modal" data-target="#myModal"></button>
    </div>
    <div>
      <div class="search-hero" style="height: 10px;">
        <input class="form-control" type="text" [(ngModel)]="searchText" name="search" autocomplete="on"
          placeholder=" entrez un theme,pour la recherche " style="width: 500px;">
      </div>
    </div>
  </div>

  <div class="row" style="margin-left: 2px; margin-top: 50px;">
    <div class="col-md-3" *ngFor="let memoire of memoires | filtersPipe: searchText; let i = index"
      style="margin-bottom: 10px;">
      <p-card with="300">
        <p-header><br>
          <div class="titre" style="margin-left: 10px; margin-top: 10px;">Theme:{{memoire.titre}} <br>
            Encadreur: {{memoire.encadreur.nomEncadreur}}
          </div>
          <br>
        </p-header>
        <div class="image"> <img src="assets/img/image3.jpg" alt="image" style="width: 200px; margin-left: 50px;">
        </div>
        <h4>Annee: {{memoire.session}}</h4>
        <p-footer>
          <div class="bouton" style="margin-left: 40%;">
            <a href="{{memoire.contenu}}"><button type="button" pButton icon="pi pi-download"
                style="margin-right: 10%;"></button></a>
            <button type="button" (click)='chargerModal(memoire.id)' pButton label="Consulter" data-toggle="modal"
              data-target="#monModal"></button>
          </div>
        </p-footer>
      </p-card>
    </div>
  </div>
</section>


<div class="container">
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Entrez les valeurs du memoire a ajouter</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
          <form [formGroup]="form">
            <div class="form-group row">
              <div class="col-md-2">
                <label for="nom">TITRE </label>
              </div>
              <div class="col-md-6">
                <input type="text" pInputText class="form-control" formControlName="title" id="nom"
                  placeholder="entrez le titre">
              </div>
              <div id="vignets">
                <div *ngIf="form.get('title').touched && form.get('title').invalid"
                  class="cross-validation-error-message alert alert-danger">
                  <div *ngIf="form.get('title').hasError('required')">
                    Title is required!
                  </div>
                </div>
              </div>
            </div>

            <div class="form-group row">
              <div class="col-md-2">
                <label for="diplome"> Diplome</label>
              </div>
              <div class="col-md-6">
                <p-dropdown [options]="diplomes" [(ngModel)]="diplome" formControlName="diplome"
                  placeholder="Entrez le diplome" optionLabel="intituleDiplome" [showClear]="true"></p-dropdown>
              </div>
              <div id="vignets">
                <div *ngIf="form.get('diplome').touched && diplome==null"
                  class="cross-validation-error-message alert alert-danger">
                  Diploma is required!
                </div>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-md-2">
                <label for="session"> Session</label>
              </div>
              <div class="col-md-6">
                <input type="text" pInputText formControlName="session" class="form-control" id="date"
                  placeholder="entrez la session">
              </div>
              <div id="vignets">
                <div *ngIf="form.get('session').touched && form.get('session').invalid"
                  class="cross-validation-error-message alert alert-danger">
                  <div *ngIf="form.get('session').hasError('required')">
                    Session is required!
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-md-2">
                <label for="resume">Resume</label>
              </div>
              <div class="col-md-6">
                <input type="text-area" pInputText formControlName="resume" class="form-control" id="contenu"
                  placeholder="Entrez le resume du memoire">
              </div>
              <div id="vignets">
                <div *ngIf="form.get('resume').touched && form.get('resume').invalid"
                  class="cross-validation-error-message alert alert-danger">
                  <div *ngIf="form.get('resume').hasError('required')">
                    Resume is required!
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-md-2">
                <label for="ABSTRACT">Abstract</label>
              </div>
              <div class="col-md-6">
                <input type="text" pInputText formControlName="abstract" class="form-control" id="abstract"
                  placeholder="entrez l'abstract">
              </div>
              <div id="vignets">
                <div *ngIf="form.get('abstract').touched && form.get('abstract').invalid"
                  class="cross-validation-error-message alert alert-danger">
                  <div *ngIf="form.get('abstract').hasError('required')">
                    Abstract is required!
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-md-4">
                <label for="contenu">Choisir le memoire a inserrer</label>
              </div>
              <div class="col-md-6">
                <input type="file" pInputText formControlName="contenu"
                  (change)="fileBrowseHandler($event.target.files)" class="form-control-file" id="contenu" />
              </div>
              <div id="vignets">
                <div *ngIf="form.get('contenu').touched && form.get('contenu').invalid"
                  class="cross-validation-error-message alert alert-danger">
                  File is required!
                </div>
              </div>
            </div>
            <!-- <div class="form-group row">
              <div class="col-md-4">
                <label for="contenu">Choisir l'image a inserer</label>
              </div>
              <div class="col-md-6">
                <input type="file" pInputText formControlName="image" (change)="fileBrowseHandlers($event.target.files)"
                  class="form-control-file" id="image" />
              </div> -->
              <!-- <div id="vignets">
                <div *ngIf="form.get('image').touched && form.get('image').invalid"
                  class="cross-validation-error-message alert alert-danger">
                    File is required!
                </div>
              </div> -->
            <!-- </div> -->
            <div class="form-group row">
              <div class="col-md-2">
                <label for="etudiant"> Etudiant </label>
              </div>
              <div class="col-md-6">
                <p-dropdown [options]="etudiants" [(ngModel)]="etudiant" formControlName="etudiant"
                  placeholder="Selectionnez l'etudiant" optionLabel="nomEtudiant" [showClear]="true"></p-dropdown>
              </div>
              <div id="vignets">
                <div *ngIf="form.get('etudiant').touched && etudiant==null"
                  class="cross-validation-error-message alert alert-danger">
                  Student is required!
                </div>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-md-2">
                <label for="encadreur"> Encadreur </label>
              </div>
              <div class="col-md-6">
                <p-dropdown [options]="encadreurs" [(ngModel)]="encadreur" formControlName="encadreur"
                  placeholder="Selectionnez l'encadreur" optionLabel="nomEncadreur" [showClear]="true"></p-dropdown>
              </div>
              <div id="vignets">
                <div *ngIf="form.get('encadreur').touched && encadreur==null"
                  class="cross-validation-error-message alert alert-danger">
                  Encadreur is required!
                </div>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-md-2">
                <label for="filiere"> Filiere </label>
              </div>
              <div class="col-md-6">
                <p-dropdown [options]="filieres" [(ngModel)]="filiere" formControlName="filiere"
                  placeholder="Selectionnez l'encadreur" optionLabel="intituleFiliere" [showClear]="true"></p-dropdown>
              </div>
              <div id="vignets">
                <div *ngIf="form.get('filiere').touched && filiere==null"
                  class="cross-validation-error-message alert alert-danger">
                  Option is required!
                </div>
              </div>
            </div>
            <button type="submit" class="btn btn-primary" (click)="addMemoire()" data-dismiss="modal"
              [disabled]="form.invalid" style="margin-left: 300px;"> Ajouter</button>
          </form>

        </div>

      </div>
    </div>
  </div>
</div>



<div class="container">
  <div class="modal fade" id="monModal" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title"> detail sur le memoire</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
          <div class="row">
            <img src="assets/img/image3.jpg" alt="image" style="width: 200px; margin-left: 50px;"></div>
          <br><br>
          <p-panel header="TITRE" [toggleable]="true" [style]="{'margin-bottom':'20px'}">
            {{memoire2.titre}}
          </p-panel>
          <p-panel header="RESUME" [toggleable]="true" [style]="{'margin-bottom':'20px'}">
            {{memoire2.resume}}
          </p-panel>
          <p-panel header="Abstract" [toggleable]="true" [style]="{'margin-bottom':'20px'}">
            {{memoire2.abstract_memoire}}
          </p-panel>
          <!-- <p-panel header="MOTSCLES" [toggleable]="true" [style]="{'margin-bottom':'20px'}">
                {{memoire.motsCles}}
              </p-panel> -->
        </div>
        <div class="modal-footer">
          <a href="{{memoire2.contenu}}"><button type="button" pButton icon="pi pi-download"
              style="margin-right: 10%;"></button></a>
          <button type="button" class="btn btn-danger" data-dismiss="modal">Annuler</button>
        </div>
      </div>
    </div>
  </div>
</div>