<p-toast position="top-right" key="state"></p-toast>

<app-acceuil></app-acceuil>

<button style="margin-left: 10px;" type="button" pButton label="AJOUTER DEPARTEMENT" data-toggle="modal"
  data-target="#myModal"></button>
<div class="container-fluid" style="width: 1000px;">
  <div>
    <h1 style="text-align: center;">La liste des départements</h1>
  </div>
  <table class="table table-bordered table-striped" style="width: 900px; text-align: center;">
    <thead>
      <tr>
        <th>Code</th>
        <th>Intitule</th>
        <th> Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let departement of departements;">

        <td>{{ departement.codeDepartement}}</td>
        <td>{{ departement.intituleDepartement}}</td>
        <td>
          <button class="btn btn-sm btn-primary" style="margin-left: 10px;" data-toggle="modal" data-target="#monModal">
            <i class="pi pi-pencil"></i></button>
          <button class="btn btn-sm btn-danger" style="margin-left: 10px;">
            <i class="pi pi-trash" (click)="supprimerDepartement(departement)"></i></button>
          <a [routerLink]="['/admin/filieres', departement.id]">
            <button class="btn btn-sm btn-primary" style="margin-left: 10px;">Filiere</button></a>
        </td>
      </tr>
    </tbody>
  </table>
</div>



<div class="container">
  <div class="modal fade" id="monModal" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Informations sur le departement</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group row">
              <div class="col-md-2">
                <label for="inputCodeDepartement">Code</label>
              </div>
              <div class="col-md-6">
                <input type="text" value="departement.codeDepartement" class="form-control" id="code" name="code"
                  [(ngModel)]="departement.codeDepartement" placeholder="Entrez le code du departement">
              </div>
            </div>

            <div class="form-group row">
              <div class="col-md-2">
                <label for="intitule">Intitule</label>
              </div>
              <div class="col-md-6">
                <input type="text" value="departement.intituleDepartement" class="form-control" id="intitule"
                  name="intitule" [(ngModel)]="departement.intituleDepartement"
                  placeholder="Entrez le intitule du departement">
              </div>
            </div>
            <button type="submit" class="btn btn-primary" data-dismiss="modal"
              style="margin-left: 300px;">Modifier</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Informations sur le departement</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group row">
              <div class="col-md-2">
                <label for="code">Code</label>
              </div>
              <div class="col-md-6">
                <input type="text" class="invalid-feedback" class="form-control" id="code" name="code"
                  [(ngModel)]="departement.codeDepartement" placeholder="Entrez le code du departement">
              </div>
            </div>

            <div class="form-group row">
              <div class="col-md-2">
                <label for="intitule">Intitule</label>
              </div>
              <div class="col-md-6">
                <input type="text" class="form-control" id="intitule" name="intitule"
                  [(ngModel)]="departement.intituleDepartement" placeholder="Entrez le intitule du departement">
              </div>
            </div>
            <button type="submit" class="btn btn-primary" data-dismiss="modal" style="margin-left: 300px;"
              (click)="ajouterDepartement()">Ajouter</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
  