<div class="row">
  <app-home></app-home>
  <!-- <header id="header" class="fixed-top header-transparent" style="background-color:lightskyblue;">
    <div class="container d-flex align-items-center">
      <div class="logo mr-auto">
        <img src="../../assets/img/logo.jpeg" alt="" style="width: 300px; height: 400px;">
      </div>
      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li class="active"><a routerLink="/page"><i class="pi pi-home" style="padding-top: 10px;"></i>Acceuil</a></li>
          <li routerLinkActive><a routerLink="/memoire"><i class="pi pi-file-pdf"
                style="padding-top: 10px;"></i>MEMOIRES</a></li>
        </ul>
      </nav>
    </div>
  </header> -->







  <section id="hero" style="height: auto">
    <div class="search-hero" style="height: 10px;">
      <input class="form-control" type="text" [(ngModel)]="searchText" name="search" autocomplete="on"
        placeholder=" entrez un theme,un diplome,un nom" style="margin-left: 100px; width: 500px; margin-top: 100px;">
    </div>
    <div class="row" style="margin-left: 2px; margin-top: 50px;">
      <div class="col-md-12" style="margin-top: 20px;">
        <div class="row">
          <div class="col-md-3" *ngFor="let memoire of memoires | filter: searchText; let i = index"
            style="margin-bottom: 10px;">
            <p-card>
              <p-header><br>
                <div class="titre" style="margin-left: 10px; margin-top: 10px; text-align: center;">
                  <span>THEME</span>:<br><I style="color: blue;"> {{memoire.titre}}</I>
                </div>
                <div class="titre" style="margin-left: 10px; margin-top: 10px; text-align: center;">
                  <span>En vue de l'obtention du diplome:</span><br><I style="color: blue;">
                    {{memoire.diplome.intituleDiplome}}</I>
                </div>
                <div class="encadreur" style="margin-left: 10px; margin-top: 10px; text-align: center;">
                </div>
                <br>
              </p-header>
              <div class="image"> <img src="assets/img/image3.jpg" alt="image" style="width: 150px; margin-left: 65px;">
              </div>
              <h4> Annee: {{memoire.session}}</h4>
              <p-footer>
                <div class="bouton" style="margin-left: 40%;">
                  <a href="{{memoire.contenu}}"><button type="button" pButton icon="pi pi-download"
                      style="margin-right: 10%;"></button></a>
                  <button type="button" (click)='chargerModal(memoire.id)' pButton label="Consulter" data-toggle="modal"
                    data-target="#myModal"></button>
                </div>
              </p-footer>
            </p-card>
          </div>
        </div>
      </div>
    </div>
  </section>


  <div class="container">
    <div class="modal fade" id="myModal" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title"> detail sur le memoire</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <div class="modal-body">
            <div class="row">
              <img src="assets/img/image3.jpg" alt="image" style="width: 200px; margin-left: 50px;"></div>
            <br><br>
            <p-panel header="TITRE" [toggleable]="true" [style]="{'margin-bottom':'20px'}">
              {{memoire2.titre}}
            </p-panel>
            <p-panel header="RESUME" [toggleable]="true" [style]="{'margin-bottom':'20px'}">
              {{memoire2.resume}}
            </p-panel>
            <p-panel header="Abstract" [toggleable]="true" [style]="{'margin-bottom':'20px'}">
              {{memoire2.abstract_memoire}}
            </p-panel>
            <!-- <p-panel header="MOTSCLES" [toggleable]="true" [style]="{'margin-bottom':'20px'}">
                {{memoire.motsCles}}
              </p-panel> -->
          </div>
          <div class="modal-footer">
            <a href="{{memoire2.contenu}}"><button type="button" pButton icon="pi pi-download"
                style="margin-right: 10%;"></button></a>
            <button type="button" class="btn btn-danger" data-dismiss="modal">Annuler</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- </div> -->