<app-acceuil></app-acceuil>

<button style="margin-left: 10px;" type="button" pButton label="AJOUTER FILIERE" data-toggle="modal"
  data-target="#myModal"></button>



<div class="container-fluid" style="width: 1000px;">
  <div>

  </div>
  <table class="table table-bordered table-striped" style="width: 900px; text-align: center;">
    <thead>
      <tr>
        <th>Code</th>
        <th>Intitule</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let filiere of filieres; let index =  index">
      
        <td>{{filiere.codeFiliere}}</td>
        <td>{{filiere.intituleFiliere }}</td>
        <td>
          <button class="btn btn-sm btn-primary" style="margin-left: 10px;" data-toggle="modal" data-target="#monModal">
              <i class="pi pi-pencil"></i></button>
            <button class="btn btn-sm btn-danger" style="margin-left: 10px;">
              <i class="pi pi-trash" (click)="supprimerFiliere(filiere)"></i></button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div class="container">
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Ajouter une filiere au departement</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group row">
              <div class="col-md-2">
                <label for="code">Code</label>
              </div>
              <div class="col-md-6">
                <input type="text" class="form-control" id="code" name="code"
                  placeholder="Entrez le code de la filieres" [(ngModel)]="filiere.codeFiliere">
              </div>
            </div>
            <div class="form-group row">
              <div class="col-md-2">
                <label for="intitule">Intitule</label>
              </div>
              <div class="col-md-6">
                <input type="text" class="form-control" id="intitule" name="intitule"
                  placeholder="Entrez le intitule de la filiere" [(ngModel)]="filiere.intituleFiliere">
              </div>
            </div>
            <div class="form-group row">
              <div class="col-md-2">
                <label for="diplome"> Diplome </label>
              </div>
              <div class="col-md-6">
                <p-dropdown [options]="diplomes" [(ngModel)]="diplome" placeholder="Entrez le diplome"
                  optionLabel="intituleDiplome" name="diplome" [showClear]="true"></p-dropdown>
              </div>
            </div>

            <button type="submit" class="btn btn-primary" data-dismiss="modal" style="margin-left: 300px;"
              (click)="addFiliereDepartement()">Ajouter</button>
          </form>
        </div>
      </div>
    </div>