
<app-home> </app-home>
<section id="hero">
    <div class="hero-container" data-aos="fade-up">
        <br><br>
        <br>
        <!-- <h1 style="color: cornflowerblue;"> GESTION DES MEMOIRES EN LIGNE ENSPM</h1> -->
       
    </div>
</section>
<!-- <app-footer></app-footer> -->




<!-- <div class="container">

    <form>
        <div class="form-group row">
            <div class="col-md-1">
                <label for="nom">code </label>
            </div>
            <div class="col-md-6">
                <input type="text" class="form-control" id="nom" placeholder="entrez le titre">
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-1">
                <label for="diplome">intitule</label>
            </div>
            <div class="col-md-6">
                <input type="text" class="form-control" id="diplome" placeholder="entrez le diplome">
            </div>
        </div>
        <button type="submit" (click)="ajouterDepartement()" class="btn btn-primary" style="margin-left: 300px;">
            Ajouter</button>
    </form>
</div> -->