<app-acceuil></app-acceuil>

<button type="button" pButton label="AJOUTER ENCADREUR" data-toggle="modal" data-target="#myModal"></button>


<div class="container-fluid" style="width: 1000px;">
  <h1 style="text-align: center;">La liste des encadreurs</h1>
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>Nom</th>
        <th>Titre</th>
        <th> Grade</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let encadreur of encadreurs; let index = index">
        <td>{{encadreur.nomEncadreur}}</td>
        <td>{{ encadreur.titreEncadreur}}</td>
        <td>{{ encadreur.gradeEncadreur}}</td>
        <td>
          <button class="btn btn-sm btn-primary" style="margin-left: 10px;">
            <i class="pi pi-pencil" ></i></button>
          <button class="btn btn-sm btn-danger" style="margin-left: 10px;" >
            <i class="pi pi-trash"  (click)="supprimerEncadreur(encadreur)"></i></button>
        </td>
      </tr>
    </tbody>
  </table>
</div>




<div class="container">
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title"> donnees de l'encadreur</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group row">
              <div class="col-md-2">
                <label for="nom">Nom </label>
              </div>
              <div class="col-md-6">
                <input type="text" class="form-control" id="nom" name="nom" [(ngModel)]="encadreur.nomEncadreur"
                  placeholder="entrez le nom de l'encadreur">
              </div>
            </div>

            <div class="form-group row">
              <div class="col-md-2">
                <label for="diplome"> Titre</label>
              </div>
              <div class="col-md-6">
                <input type="text" class="form-control" id="titre" name="titre" [(ngModel)]="encadreur.titreEncadreur"
                  placeholder="exemple Dr">
              </div>
            </div>
            <div class="form-group row">
              <div class="col-md-2">
                <label for="diplome"> GRADE</label>
              </div>
              <div class="col-md-6">
                <input type="text" class="form-control" id="grade" name="grade" [(ngModel)]="encadreur.gradeEncadreur"
                  placeholder="exemple charge de cours">
              </div>
            </div>
            <button type="submit" class="btn btn-primary" style="margin-left: 300px;" (click)="ajouterEncadreur()" data-dismiss="modal">
              Ajouter</button>
          </form>
        </div>

      </div>