<app-acceuil></app-acceuil>



<button style="margin-left: 10px;" type="button" pButton label="AJOUTER DiPLOME" data-toggle="modal"
  data-target="#myModal"></button>

<div class="container-fluid" style="width: 1000px;">
  <div>
    <h1 style="text-align: center;">liste des diplomes</h1>
  </div>
  <table class="table table-bordered table-striped" style="width: 900px; text-align: center;">
    <thead>
      <tr>
        <th>Code</th>
        <th>Intitule</th>
        <th> Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let diplome of diplomes; let index = index">
        <td>{{ diplome.codeDiplome}}</td>
        <td>{{ diplome.intituleDiplome}}</td>
        <td>
          <button class="btn btn-sm btn-primary" style="margin-left: 10px;" data-toggle="modal" data-target="#monModal">
            <i class="pi pi-pencil"></i></button>
          <button class="btn btn-sm btn-danger" style="margin-left: 10px;">
            <i class="pi pi-trash"></i></button>
        </td>
      </tr>
    </tbody>
  </table>
</div>


<div class="container">
  <div class="modal fade" id="myModal" role="dialog">
      <div class="modal-dialog">
          <div class="modal-content">
              <div class="modal-header">
                  <h4 class="modal-title">Entrez les donnees du diplome</h4>
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
              </div>
              <div class="modal-body">
                  <form [formGroup]="form">
                      <div class="form-group row">
                          <div class="col-md-2">
                              <label for="session"> Code</label>
                          </div>
                          <div class="col-md-6">
                              <input type="text" pInputText formControlName="codeDiplome" class="form-control" id="codeDiplome"
                                  placeholder="entrez la code" [(ngModel)]="diplome.codeDiplome">
                          </div>
                          <div id="vignets">
                              <div *ngIf="form.get('codeDiplome').touched && form.get('codeDiplome').invalid"
                                  class="cross-validation-error-message alert alert-danger">
                                  <div *ngIf="form.get('nom').hasError('required')">
                                      Name is required!
                                  </div>
                              </div>
                          </div>
                      </div>

                      <div class="form-group row">
                          <div class="col-md-2">
                              <label for="nom">Intitule </label>
                          </div>
                          <div class="col-md-6">
                              <input type="text" pInputText class="form-control" formControlName="intituleDiplome" id="intituleDiplome"
                                  placeholder="entrez le intitule" [(ngModel)]="diplome.intituleDiplome">
                          </div>
                          <div id="vignets">
                              <div *ngIf="form.get('intituleDiplome').touched && form.get('intituleDiplome').invalid"
                                  class="cross-validation-error-message alert alert-danger">
                                  <div *ngIf="form.get('intituleDiplome').hasError('required')">
                                      register number is required!
                                  </div>
                              </div>
                          </div>
                      </div>
                      <button type="submit" class="btn btn-primary" (click)="ajouterDiplome()" data-dismiss="modal" [disabled]="form.invalid"
                          style="margin-left: 300px;"> Ajouter</button>
                  </form>
              </div>
          </div>