<app-acceuil></app-acceuil>
<button style="margin-left: 10px;" type="button" pButton label="AJOUTER ETUDIANTS" data-toggle="modal"
  data-target="#myModal"></button>


  <div class="container-fluid" style="width: 1000px;">
    <div>
      <h1 style="text-align: center;">liste des etudiants</h1>
    </div>
    <table class="table table-bordered table-striped" style="width: 900px; text-align: center;">
      <thead>
        <tr>
          <th>Nom</th>
          <th>Matricule</th>
          <th> Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let etude of etudiants; let index = index">
          <td>{{ etude.nomEtudiant}}</td>
          <td>{{ etude.matriculeEtudiant}}</td>
          <td>
            <button class="btn btn-sm btn-primary" style="margin-left: 10px;" data-toggle="modal" data-target="#monModal">
                <i class="pi pi-pencil"></i></button>
              <button class="btn btn-sm btn-danger" style="margin-left: 10px;">
                <i class="pi pi-trash"></i></button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>



<div class="container">
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Entrez les donnees de l'etudiant</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <form [formGroup]="form">
                        <div class="form-group row">
                            <div class="col-md-2">
                                <label for="session"> Nom</label>
                            </div>
                            <div class="col-md-6">
                                <input type="text" pInputText formControlName="nom" class="form-control" id="nom"
                                    placeholder="entrez la nom" [(ngModel)]="etudiant.nomEtudiant">
                            </div>
                            <div id="vignets">
                                <div *ngIf="form.get('nom').touched && form.get('nom').invalid"
                                    class="cross-validation-error-message alert alert-danger">
                                    <div *ngIf="form.get('nom').hasError('required')">
                                        Name is required!
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-md-2">
                                <label for="nom">Matricule </label>
                            </div>
                            <div class="col-md-6">
                                <input type="text" pInputText class="form-control" formControlName="matricule" id="nom"
                                    placeholder="entrez le matricule" [(ngModel)]="etudiant.matriculeEtudiant">
                            </div>
                            <div id="vignets">
                                <div *ngIf="form.get('matricule').touched && form.get('matricule').invalid"
                                    class="cross-validation-error-message alert alert-danger">
                                    <div *ngIf="form.get('matricule').hasError('required')">
                                        register number is required!
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary" data-dismiss="modal" [disabled]="form.invalid"
                            style="margin-left: 300px;" (click)="ajouterEtudiant()"> Ajouter</button>
                    </form>
                </div>
            </div>
           