<!-- 
<nav class="navbar" style="background-color: aqua; height: 100px;">
    <div class="container" style="margin-top: 20px; ">
        <ul class="nav navbar-nav navbar-right">
            <li routerLinkActive="active">
                <a routerLink="/page"> Acceuil</a>
            </li>
            <li routerLinkActive="active">
                <a routerLink="/memoire"> MEMOIRES</a>
            </li>
           
            <li style="margin-top: 8px;">
                <form class="form-inline my-2 my-lg-0" style="height: 15px;">
                    <input class="form-control mr-sm-6" type="search" placeholder="entre un titre, un diplome,un nom" aria-label="Search">
                    <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
                </form>
            </li>

        </ul>

    </div>
</nav>  -->


<header id="header" class="fixed-top header-transparent" style="background-color:lightskyblue;">
  <div class="container d-flex align-items-center">
    <div class="logo mr-auto" style="color: #AAAAAA;">
      <h1><I>gestion des memoires ENSPM</I></h1>
      <!-- <img src="../../assets/img/logo.jpeg" alt="" style="width: 300px; height: 400px;"> -->
    </div>
    <nav class="nav-menu d-none d-lg-block">
      <ul>
        <li class="active"><a routerLink="/page"><i class="pi pi-home" ></i>Acceuil</a></li>
        <li routerLinkActive style="padding-left: 20px;"><a routerLink="/memoire"><i class="pi pi-file-pdf"
              ></i>MEMOIRES</a></li>
      </ul>
    </nav>
  </div>
</header>

<!-- <div class="row">
  <div class="col-md-12" style="margin-top: 120px;">
    <nav class="navbar navbar-expand flex-md-column flex-row align-items-start">
      <div class="collapse navbar-collapse">
        <p-panelMenu [model]="items" (click)=test()></p-panelMenu>
      </div>
    </nav>
  </div>
</div> -->