<div class="container-login100" style="background-image: url('images/bg-01.jpg');">
    <div class="wrap-login100 p-l-55 p-r-55 p-t-80 p-b-30">
        <form class="login100-form validate-form">
            <span class="login100-form-title p-b-37">
                AUTHENTIFICATION
            </span>

            <div class="wrap-input100 validate-input m-b-20" data-validate="Enter username or email">
                <input class="input100" [(ngModel)] = "username" type="text" name="username" placeholder="username or email">
                <span class="focus-input100"></span>
            </div>

            <div class="wrap-input100 validate-input m-b-25" data-validate="Enter password">
                <input class="input100" [(ngModel)]="password" type="password" name="pass" placeholder="password">
                <span class="focus-input100"></span>
            </div>

            <div *ngIf="!er">
                <p class="text-center" style="color:brown;"> <i>{{ erreur }}</i> </p>
            </div>

            <div class="container-login100-form-btn">
                <button routerLink='{{ link() }}' (click)="login()" class="login100-form-btn">
                    Se Connecter
                </button> 
            </div>
            <div class="text-center">
                <a routerLink="/admin/auth" class="txt2 hov1">
                    Sign Up
                </a>
            </div>
        </form>


    </div>
</div>